@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap);.delete {
  background-color: #b82525;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.u-center {
  display: flex;
  justify-content: center;
}

.m-t {
  margin-top: 30px;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #353535;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  font-size: 1.5rem;
  border-left: 5px solid #0282f9;
}

button {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2rem;
  border-style: none;
}

input {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  height: 20px;
  padding: 20px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

a:not(:last-child) {
  margin-right: 50px;
}

textarea {
  font-family: "Titillium Web", sans-serif;
  padding: 15px;
  font-size: 1rem;
}

.container {
  width: 80%;
  margin: auto;
}

.container-sm {
  width: 50%;
  margin: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  background-color: #353535;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  transform: translateX(10px);
}

.btn-price {
  background-color: lightseagreen;
}

.btn-price:hover {
  cursor: initial;
  transform: none;
}

.btn-delete {
  background-color: #b82525;
}

.btn-edit {
  background-color: #0282f9;
}

.section_title {
  background-color: #1c1c1c;
  color: #fff;
  padding: 15px 0;
  position: sticky;
  top: 76px;
  z-index: 1;
}

.alert {
  padding: 1rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.alert-danger {
  border: 1px solid #b82525;
  color: #b82525;
}

.fas {
  font-size: 2rem;
  margin-right: 15px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #1c1c1c;
}

body::-webkit-scrollbar-thumb {
  background-color: #0282f9;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #0269c9;
}

@-webkit-keyframes slide_top {
  from {
    transform: translateY(-1100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide_top {
  from {
    transform: translateY(-1100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide_left {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_left {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes zoom_out {
  from {
    opacity: 0;
    transform: scale(1.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom_out {
  from {
    opacity: 0;
    transform: scale(1.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes boing {
  0% {
    transform: translateY(-200px);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes boing {
  0% {
    transform: translateY(-200px);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

.admin {
  background-color: #353535;
}

.admin .fa-plus {
  padding: 15px 17px;
  border-radius: 50%;
  background-color: #0282f9;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-animation: boing 1s ease-in-out;
          animation: boing 1s ease-in-out;
}

.admin .fa-plus:hover {
  transform: scale(1.05);
  background-color: #0269c9;
}

.admin > .container {
  background-color: #fff;
  padding: 30px;
}

.admin table thead th {
  font-size: 1.5rem;
  color: #0282f9;
  padding-bottom: 1rem;
  border-bottom: 5px solid #0282f9;
}

.admin table tbody td {
  padding: 1rem;
  border-bottom: 3px solid #353535;
}

.admin table tbody .td_title {
  font-weight: bold;
  width: 20%;
  text-align: center;
}

.admin table tbody .td_description {
  width: 50%;
}

.admin table tbody .td_price {
  margin-top: 140px;
  width: 100px;
  border-bottom: none;
}

.admin table tbody .td_options {
  border-bottom: none;
}

header {
  background-color: #0282f9;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a {
  border-bottom: 5px solid transparent;
  padding: 20px;
}

nav a:hover {
  border-bottom: 5px solid #fff;
}

.active_link {
  border-bottom: 5px solid #fff;
}

.comics .cards {
  display: flex;
  padding-top: 100px;
  padding-bottom: 15px;
  overflow: auto;
}

.comics .cards .card {
  -webkit-animation: slide_left 0.5s ease-in;
          animation: slide_left 0.5s ease-in;
  margin: 15px;
}

.comics .cards .card img {
  width: 300px;
  position: relative;
  transition: 0.3s;
}

.comics .cards .card img:hover {
  transform: scale(1.1);
}

.cards::-webkit-scrollbar {
  height: 7px;
}

.cards::-webkit-scrollbar-track {
  background-color: #1c1c1c;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #0282f9;
  border-radius: 50px;
}

.cards::-webkit-scrollbar-thumb:hover {
  background-color: #0269c9;
}

.comic {
  display: flex;
  position: relative;
  margin-top: 100px;
  background-color: #fff;
  -webkit-animation: zoom_out 0.5s;
          animation: zoom_out 0.5s;
}

.comic .path {
  height: 600px;
}

.comic .path img {
  width: 350px;
  position: relative;
  top: -30px;
  left: -30px;
}

.comic .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 70px;
  padding-bottom: 20px;
}

.comic .details .comic_title {
  margin-bottom: 20px;
}

.comic .details .description {
  line-height: 2rem;
  margin-bottom: 50px;
}

.comics_create,
.comics_edit {
  z-index: -1;
  color: #0282f9;
  -webkit-animation: slide_top 0.5s ease-in;
          animation: slide_top 0.5s ease-in;
}

.comics_create .container-sm,
.comics_edit .container-sm {
  background-color: #fff;
  padding: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

