@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@300;

700&display=swap);* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.u-center {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #353535;
}

.container {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

a:not(:last-child) {
  margin-right: 50px;
}

.form-group {
  margin: 30px 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group input {
  height: 20px;
  padding: 20px;
  border-radius: 5px;
}

button {
  width: 150px;
  height: 50px;
  background-color: #4087dd;
  color: #fff;
  border-radius: 25px;
  border-style: none;
}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 1px 5px 10px #222222;
}

.section_title {
  background-color: #222222;
  color: #fff;
  padding: 15px 0;
}

header {
  background-color: #4087dd;
}

nav {
  padding: 20px 0;
}

.comics .cards {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comics .cards .card {
  margin: 20px;
}

.comics .cards .card img {
  width: 250px;
  position: relative;
  box-shadow: 1px 5px 10px #222222;
  transition: 0.3s;
}

.comics .cards .card img:hover {
  padding: 5px;
  border: 5px solid #4087dd;
}

