@keyframes slide_top {
    from{
        transform: translateY(-1100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide_left {
    from{
        transform: translateX(-500px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}