*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// UTILITY
.u-center {
    display: flex;
    justify-content: center;
}

.m-t{
    margin-top: 30px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: $dark_color;
}

.container{
    width: 80%;
    margin: auto;
}

.container-sm{
    width: 50%;
    margin: auto;
}

a{
    text-decoration: none;
    color: $second_color;
    font-size: 1.3rem;
    font-weight: bold;

    &:not(:last-child){
        margin-right: 50px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    background-color: $dark_color;
    color: white;
    font-weight: bold;
    transition: .3s;
    
    &:hover{
        cursor: pointer;
        transform: translateX(10px);
    }
}
.btn-price{
    background-color: lightseagreen;
    &:hover{
        cursor: initial;
        transform: none;
    }
}
.btn-delete{
    background-color: #b82525;
}
.btn-edit{
    background-color: $primary_color;
}

.fa-plus {
    padding: 15px 17px;
    border-radius: 50%;
    background-color: $primary_color;
    position:fixed;
    bottom: 30px;
    right: 30px;
    animation: show 1s linear;

    &:hover {
        transform: scale(1.05);
        background-color: #0269c9;

    }
}

// form and button
.form-group{
    margin: 30px 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;

    input{
        height: 20px;
        padding: 20px;
        border-radius: 5px;
    }
}
button {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
    border-style: none;
}
input{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
}

// SECTION TITLE
.section_title{
    background-color: $darker_color;
    color: $second_color;
    padding: 15px 0;
    position:sticky;
    top: 76px;
    z-index: 1;
}

// ALERT ERRORS
.alert {
    padding: 1rem;
    width: 100%;
    background-color: rgb(231, 142, 133);
    font-size: .9rem;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.alert-danger {
    color: rgb(160, 63, 63);
}

.fas{
    font-size: 2rem;
    margin-right: 15px;
}