.comic {
    display: flex;
    position: relative;
    margin-top: 100px;
    background-color: $second_color;

    //animation
    @include zoom_out;

    .path {
        height: 600px;

        img {
            width: 350px;
            position: relative;
            top: -30px;
            left: -30px;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 70px;
        padding-bottom: 20px;

        .comic_title {
            margin-bottom: 20px;
        }

        .description{
            line-height: 2rem;
            margin-bottom: 50px;
        }
    }
}