.comics{



    .cards{
        display: flex;
        //flex-wrap: wrap;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 15px;
        overflow:auto;
        
        
        .card{
            // animation
            @include slide_left;
            margin: 15px;
            
            img {
                width: 300px;
                position: relative;
                transition:.3s;
                
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}