*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// UTILITY
.u-center {
    display: flex;
    justify-content: center;
}

.m-t{
    margin-top: 30px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: $dark_color;
}
// RESET input, button, a, form-group, textarea
.form-group{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    font-size: 1.5rem;
    border-left: 5px solid $primary_color;
}
button {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
    border-style: none;
}
input{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    height: 20px;
    padding: 20px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: $second_color;
    font-size: 1.3rem;
    font-weight: bold;

    &:not(:last-child){
        margin-right: 50px;
    }
}
textarea{
    font-family: 'Titillium Web', sans-serif;
    padding: 15px;
    font-size: 1rem;
}

.container{
    width: 80%;
    margin: auto;
}

.container-sm{
    width: 50%;
    margin: auto;
}

// bottons
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    background-color: $dark_color;
    color: $second_color;
    font-weight: bold;
    transition: .3s;
    
    &:hover{
        cursor: pointer;
        transform: translateX(10px);
    }
}
.btn-price{
    background-color: $price_color;
    &:hover{
        cursor: initial;
        transform: none;
    }
}
.btn-delete{
    background-color: $danger_color;
}
.btn-edit{
    background-color: $primary_color;
}

// SECTION TITLE
.section_title{
    background-color: $darker_color;
    color: $second_color;
    padding: 15px 0;
    position:sticky;
    top: 76px;
    z-index: 1;
}

// ALERT ERRORS
.alert {
    padding: 1rem;
    width: 100%;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.alert-danger {
    border: 1px solid $danger_color;
    color: $danger_color;
}

// icons 
.fas{
    font-size: 2rem;
    margin-right: 15px;
}