.comics{
    .cards{
        display: flex;
        padding-top: 100px;
        padding-bottom: 15px;
        overflow-x: scroll;
        
        .card{
            // animation
            @include slide_left;
            margin: 15px;
            
            img {
                width: 300px;
                position: relative;
                transition:.3s;
                
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

// scrollbar style
.cards::-webkit-scrollbar {
    height: 7px;
}

.cards::-webkit-scrollbar-track {
    @include scrollbar-track;
}

.cards::-webkit-scrollbar-thumb {
    @include scrollbar-thumb;
}