.comics{
    .cards{
        display: flex;
        //flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0;

        
        .card{
            // animation
            @include slide_left;
            margin: 15px;
            
            img {
                width: 250px;
                position: relative;
                box-shadow: $shadow;
                transition:.3s;
                
                &:hover{
                    padding: 5px;
                    border: 5px solid $primary_color;
                }
            }
        }
    }
}