.comics_create, .comics_edit{
    z-index: -1;
    color: $primary_color;

    //animation
    @include slide_top;
    
    .container-sm{
        background-color: $second_color;
        padding: 50px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}