header {
    background-color: $primary_color;
    position:sticky;
    top: 0;
    z-index: 1;
}

nav {
    a{
        border-bottom: 5px solid transparent;
        padding: 20px;
        &:hover{
            border-bottom: 5px solid $second_color;
        }
    }
}

.active_link {
    border-bottom: 5px solid $second_color;
}